Meta
doc
*.o
*.so
*.bbl
*.log
*.toc
*._*
*.DS_Store
.Rproj.user
*.Rhistory
*.Rproj
README.html
src/*rds
inst/script/*
!inst/script/extdata.Rmd
vignettes/*
!vignettes/DifferentialRegulation.Rmd
!vignettes/References.bib
*.renviron
*.rprofile
*.rhistory 
*.rapp.history
*.sl
*.dylib
*.a
*.dll
*.def
*.unsrturl.bst
*.aux
*.backups
*.cproject
*.directory
*.dropbox
*.exrc
*.gdb.history
*.gitattributes
*.gitmodules
*.hgtags
*.project
*.seed
*.settings
*.tm_properties